<%= stylesheet_link_tag "new_kitten" %>

<div class="whole_page">



<div class="content">
    
    <%= form_with model: kitten, data: { turbo: false } do |f| %>
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name , max_length:10 %>
  </div>

  <div class="age">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="cuteness">
    <%= f.label :cuteness %>
    <%= f.number_field :cuteness, min: 1, max: 10 %>
  </div>

  <div class="softness">
    <%= f.label :softness %>
    <%= f.number_field :softness, min: 1, max: 10 %>
  </div>

  <div class="submit_kitten">
    <%= f.submit kitten.persisted? ? "Update Kitten" : "Add Kitten" %>
  </div>
<% end %>

</div>
</div>
